.best, .new {
  font-size: 10px;
  padding: 4px 6px;
  width: 34px;
  height: 18px;
  text-align: center;
  line-height: 120%;
}

.best {
  color: #fff;
  background-color: #256CEE;  
}

.new {
  color: #333;
  background-color: #e6e6e6;
}