.deleteButton {
  width: 12px;
  height: 12px;
  background-image: url('../public/icon_close.svg');
  background-size: cover;
  background-position: center;
  border: none;
  background-color: transparent;
  cursor: pointer;
}