.mainContainer {
  width: max-content;
  background: white;
}

@media (max-width: 375px) {
  .mainContainer {
    width: auto;
  }
}

@media (min-width:375px) {
  .mainContainer {
    width:max-content;
    margin: 0 auto;
  }
}