.mainContainer {
  width: fit-content;
  background: white;
  z-index: 10;
}

@media (max-width: 376px) {
  .mainContainer {
    width: fit-content;
  }
}

@media (min-width:375px) {
  .mainContainer {
    margin: 0 auto;
    width: min-content;
  }
}